@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body
{
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
}
.title, footer
{
    background-color: #F2F2F2;    
    color: #827373; 
    text-align: center;
    padding: 10px;
}